{
  "singleQuote": true,
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["*.html", "*.scss"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["*.scss"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
